body {
    color: #291801;
    font-family: sans-serif;
    background-color: #cba648;
    margin: 1%;
}

h1 {
    padding-bottom: 0px;
    color: #291801;
    font-family: sans-serif;
    text-align: left;
}

p {
    font-size: 15px;
    line-height: 1.6;
    color: #291801;
    margin-top: 0;
    margin-bottom: 30px; 
    text-align: justify;
}

img {
    border-radius: 10000px;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.photo {
    position: relative;
    text-align: center;
}

.name {
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.photo {
    width: 160px;
    margin: 0 auto 50px;
}

.top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30px;
    bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    text-align: center;
}

.top img{
    width: 150px;
}
.info {
    letter-spacing: 2px;
    line-height: 2;
    margin-top: 40px;
}

.works {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.work-item {
    flex-shrink: 0;
    flex-basis: 33.33333%;
    padding: 1px;
    box-sizing: border-box;
    line-height: 0;
}

.work-item img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 4/5;
    object-fit: cover;
    border: 0;
    border-radius:0px;
}





